{% extends 'ventas/base.html' %}
{% load widget_tweaks %}
{% block content %}
<h2>Nueva Compra</h2>
<form method="post">
    {% csrf_token %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="id_fecha" class="form-label">Fecha</label>
                    {{ form.fecha|add_class:"form-control" }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="id_numero_boleta" class="form-label">Número de Boleta</label>
                    {{ form.numero_boleta|add_class:"form-control" }}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="id_destino" class="form-label">Destino</label>
            {{ form.destino|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_detalle" class="form-label">Detalle</label>
            {{ form.detalle|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_total" class="form-label">Total</label>
            {{ form.total|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>
{% endblock %}
