{% extends 'ventas/base.html' %}
{% block content %}
    <div class="container my-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h1 class="h3 mb-0">Detalle de Venta</h1>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p><strong>Cliente:</strong> {{ venta.cliente }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Fecha:</strong> {{ venta.fecha|date:"d-m-Y" }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Estado:</strong> {{ venta.estado }}</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 text-end">
                        <p><strong>Total:</strong> ${{ venta.total|floatformat:0 }}</p>
                    </div>
                </div>
                <h2 class="h5 mb-3">Detalles de la Venta</h2>
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center">Producto</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-center">Precio Unitario</th>
                            <th scope="col" class="text-end">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in detalles %}
                        <tr>
                            <td class="text-center">{{ detalle.id_producto.nom_producto }}</td>
                            <td class="text-center">{{ detalle.cantidad }}</td>
                            <td class="text-center">${{ detalle.precio_unitario|floatformat:0 }}</td>
                            <td class="text-end">${{ detalle.sub_total |floatformat:0}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-end mt-4">
                    <a href="{% url 'listar_ventas' %}" class="btn btn-secondary">Volver a la lista de ventas</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}